<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>EY Pricing Tool</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
       <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-tabs pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">About</a></li>
          <li role="presentation"><a href="#">Contact</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">EYPT</h3>
    </div>

    <div class="row" id="eng-sum">
        <h4>Engagement Summary</h4>
		<img src="img/images.png" />
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="inputTime">Length of engagement</label>
            <input type="number" class="form-control" id="inputTime" placeholder="Length of engagement">
          </div>

          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Unit<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Hours</a></li>
              <li><a href="#">Days</a></li>
              <li><a href="#">Weeks</a></li>
            </ul>
          </div>
        </form>
    </div>
	
	<div class="row" id="main-bod">
        <h4>Engagement Details</h4>
          <!-- Resource select -->
          <div id="resource-list">
            <input
              v-model="newTodoText"
              v-on:keyup.enter="addNewTodo"
              placeholder="Add a resource"
			  class="form-control"
            >
			
			<ul class="cn-header">
			<li>Delete</li>
			<li>Name</li>
			<li>Level</li>
			</ul>
			
            <ul>
              <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="index"
                v-bind:title="todo"
                v-bind:levelselect="levellabel"
                v-on:remove="todos.splice(index, 1)"
              ></li>
            </ul>
          </input>
          </div>

          <!-- Costing -->
          <div id="cost-rates">
            <h3>Cost Rates</h3>
            <select v-model="selected">
              <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>
            <span>Cost: {{ selected }}</span>
          </div>
	
	</div>

	
    <footer class="footer bottom-align-text">
      <p>&copy; 2017 Camille Nicodemus</p>
    </footer>

  </div> <!-- /container -->

  <script src="https://unpkg.com/vue"></script>
  <script src="js/vue.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
